<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>crecion de sala</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </head>
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cinelitas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
        <a class="nav-link" href="/salas">Cartelera</a>
        <a class="nav-link" href="#">Precios</a>
      </div>
    </div>
  </div>
</nav>
    <body>
        <div class="container text-center">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
        <h1>Hacer Una Nueva Funcion</h1>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
        <div class="container">
            <div class="card-header bg-black text-white"> </div>
            <div class="card-body"> 
                <div class="container">
                    <form th:object = "${sala}"
                          th:action="@{/save}"
                          method="POST"
                          >
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="costo">Costo de la entrada</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{costo}"  placeholder= "Costo Funcion" id="costo" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-md-2  col-form-label" for="fecha">Fecha de la funcion</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{fecha}" class="form-control form-control-sm col-md-6" placeholder= "Fecha" id="fecha" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="capacidad">Capacidad de sala de la funcion</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{capacidad}" class="form-control form-control-sm col-md-6" placeholder= "Capacidad Sala" id="capacidad" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="num_sala">Numero de la sala de la funcion</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{numSala}" class="form-control form-control-sm col-md-6" placeholder= "Numero de sala" id="numSala" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="num_pelicula">Numero de la pelicula</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{numPelicula}" class="form-control form-control-sm col-md-6" placeholder= "numPelicula" id="email" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="pelicula">Nombre de la Pelicula</label>
                            <div class="col-sm-10">
                                <select  th:field="*{pelicula}" class="form-control form-control-sm col-md-6" id="pelicula" aria-describedby="emailHelp">
                                    <option th:each="x:${pelicula}"
                                            th:value="${x.id}"
                                            th:text="${x.pelicula}"/>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" value="Guardar">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>